body{
    background-color: #FFF5E4;
    margin: 0px;
}

*{
    box-sizing: border-box;
}

header{
    background-color: #FFE3E1;
}

nav{
    background-color: #FFD1D1;
    font-family: Arial;
    text-align: right;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover{
    background-color: #FF9494;
    color: white;
}

footer{
    background-color: #FFD1D1;
    color: black;
    text-align: center;
    padding: 10px;
}

main{
    padding: 20px;
}

.card{
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;
}

.img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  } 

.info h1 {
    font-size: 40px;
    margin: 0;
    color: #1e2a3a;
  }

.info p {
    font-size: 18px;
    color: #607d8b;
    margin: 10px 0 20px;
  }

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 100px;
  }

.avatar img {
     width: 200px;
     height: 200px;
     border-radius: 50%;
}

.btn {
    background-color: #3b82f6;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

.btn:hover {
    background-color: #2563eb;
  }

.quote {
  font-size: 25px;
  font-style: italic;
  color: #3b82f6;
  margin-bottom: 20px;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  transform: scale(1.12);
  opacity: 0.8;
}

.skills-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}

.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(
    #6a5acd calc(var(--percent) * 1%),
    #e5e5e5 0
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle::before {
  content: "";
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  position: absolute;
}

.circle-text {
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.experience-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 20px;
}

.exp-item {
  width: 30%;
  text-align: center;
}

.exp-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.exp-item h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.exp-item p {
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}

.top-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 10px 15px;
  background-color: #EE6983;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
}
